<mat-stepper linear #stepper class="max-h-[90vh] overflow-y-auto">
    <mat-step [stepControl]="detailsFormGroup" [editable]="isEditable">
        <form [formGroup]="detailsFormGroup">
            <ng-template matStepLabel>
                Details</ng-template>
            <div class="container mx-auto p-6 bg-gray-50 overflow-y-auto max-h-[90vh] ">
                <h2>Create GRN</h2>
                <div
                    class="flex justify-between max-w-[70vw] max-h-[70vh] overflow-y-auto overflow-x-auto border-2 border-black">
                    <div class="BasicDetails p-6">Basic Details</div>
                    <div class="form p-6">
                        <mat-form-field appearance="fill" class="w-11/12">
                            <mat-label>Select Company</mat-label>
                            <mat-select formControlName="company" required>
                                <mat-option *ngFor="let company of companies" [value]="company">{{ company
                                    }}</mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="detailsFormGroup.get('company')?.invalid && detailsFormGroup.get('company')?.touched">
                                Company is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-11/12">
                            <mat-label>Date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="date" required />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error
                                *ngIf="detailsFormGroup.get('date')?.invalid && detailsFormGroup.get('date')?.touched">Date
                                is required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-11/12">
                            <mat-label>Select Store</mat-label>
                            <mat-select formControlName="store" required>
                                <mat-option value="Grow Room">Grow Room</mat-option>
                                <mat-option value="Waste Store">Waste Store</mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="detailsFormGroup.get('store')?.invalid && detailsFormGroup.get('store')?.touched">Store
                                is required</mat-error>
                        </mat-form-field>

                        <!-- New Disabled Input -->
                        <mat-form-field appearance="fill" class="w-11/12">
                            <mat-label>Document Number</mat-label>
                            <input matInput value="XXX-XXX-XXXX" disabled />
                            <mat-hint>Auto Generated by System</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-11/12">
                            <mat-label>Remarks</mat-label>
                            <textarea matInput formControlName="remarks"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex justify-end gap-5 mt-3">
                    <button mat-raised-button type="button" (click)="detailsFormGroup.reset()">Cancel</button>
                    <button mat-raised-button mat-button matStepperNext color="primary">Next</button>

                </div>
            </div>
            <!-- Step 2: Inventories -->
            <div class="container mx-auto p-6 bg-gray-50 overflow-y-auto max-h-[8.0vh]">

                <form [formGroup]="inventoriesFormGroup" (ngSubmit)="onSubmit()" class="space-y-6 ">
                    <mat-card class="shadow-lg rounded-lg border border-gray-200">


                        <mat-step [stepControl]="inventoriesFormGroup" [editable]="isEditable">
                            <ng-template matStepLabel>Inventories</ng-template>
                            <h2>Create GRN</h2>
                            <!-- Company Section -->
                            <div class="wrapper">
                                <div
                                    class="flex justify-between max-w-[80vw] max-h-[70vh] overflow-y-auto overflow-x-auto border-2 border-black p-4">
                                    <!-- Left Section -->
                                    <div class="BasicDetails p-6 flex-grow">Basic Details</div>

                                    <!-- Right Section with Proper Spacing -->
                                    <div class="form p-6 pr-56 flex flex-col items-start">
                                        <p class="flex items-center gap-2"><mat-icon>location_on</mat-icon> {{
                                            detailsFormGroup.get('company')?.value }}</p>
                                        <p class="flex items-center gap-2"><mat-icon>calendar_today</mat-icon> {{
                                            detailsFormGroup.get('date')?.value | date }}</p>
                                        <p class="flex items-center gap-2"><mat-icon>store</mat-icon> {{
                                            detailsFormGroup.get('store')?.value }}</p>
                                        <p class="flex items-center gap-2"><mat-icon>speaker_notes</mat-icon> {{
                                            detailsFormGroup.get('remarks')?.value || 'N/A' }}</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Company Section ends -->
                            <!-- Item container -->
                            <div formArrayName="items" class="space-y-4">
                                <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i"
                                    class="border border-gray-300 p-4 rounded-lg shadow-sm">
                                    <h3 class="text-sm font-medium text-gray-600 mb-2">Item {{ i + 1 }}</h3>
                                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                                        <mat-form-field appearance="fill" class="w-11/12">
                                            <mat-label>Item Category</mat-label>
                                            <mat-select formControlName="itemCategory">
                                                <mat-option value=" store1">Grow Room</mat-option>
                                                <mat-option value="store2">Waste Store</mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="detailsFormGroup.get('store')?.invalid && detailsFormGroup.get('store')?.touched">Store
                                                is
                                                required</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" class="w-11/12">
                                            <mat-label>Item</mat-label>
                                            <mat-select formControlName="item">
                                                <mat-option value=" store1">Grow Room</mat-option>
                                                <mat-option value="store2">Waste Store</mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="detailsFormGroup.get('store')?.invalid && detailsFormGroup.get('store')?.touched">Store
                                                is
                                                required</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" class="w-full">
                                            <mat-label>Quantity</mat-label>
                                            <input matInput type="number" formControlName="quantity" required />
                                            <mat-error
                                                *ngIf="item.get('quantity')?.invalid && detailsFormGroup.get('quantity')?.touched">Quantity
                                                is
                                                required</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" class="w-full">
                                            <mat-label>Unit of Measure</mat-label>
                                            <input matInput formControlName="uom" required />
                                            <mat-error
                                                *ngIf="item.get('uom')?.invalid && detailsFormGroup.get('uom')?.touched">Unit
                                                of Measure is
                                                required</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" class="w-full">
                                            <mat-label>Total Cost</mat-label>
                                            <input matInput type="number" formControlName="totalCost" required />
                                            <mat-error *ngIf="item.get('totalCost')?.invalid">Total Cost is
                                                required</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" class="w-full">
                                            <mat-label>Cost Per Unit</mat-label>
                                            <input matInput type="number" formControlName="costPerUnit" />
                                            <mat-error
                                                *ngIf="item.get('costPerUnit')?.invalid && item.get('costPerUnit')?.touched">
                                                Cost Per Unit is required
                                            </mat-error>
                                        </mat-form-field>
                                        <section class="example-section">
                                            <mat-checkbox class="example-margin">Imported</mat-checkbox>
                                        </section>
                                    </div>
                                    <div class="flex justify-between items-center w-full">
                                        <div class="flex items-center gap-2">
                                            <button mat-button class="text-red-600"
                                                (click)="inventoriesFormGroup.reset()">Clear
                                                <mat-icon>refresh</mat-icon>
                                                All</button>
                                        </div>
                                        <div class="flex items-center gap-2">
                                            <button mat-button class="text-red-600" (click)="removeItem(i)">
                                                <mat-icon>delete</mat-icon>Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Item container ends -->
                            <mat-card-actions class="flex justify-end space-x-4">
                                <button mat-button color="primary" (click)="addItem()">
                                    <mat-icon>add</mat-icon>
                                    Add Item</button>
                            </mat-card-actions>
                            <mat-card-actions class="flex justify-end space-x-4">
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-raised-button color="accent" type="button">Save as Draft</button>
                                <button mat-raised-button color="primary" type="submit" [disabled]="grnForm.invalid"
                                    (click)="onSubmit()">Submit</button>
                            </mat-card-actions>
                        </mat-step>
                    </mat-card>
                </form>
            </div>
        </form>
    </mat-step>
</mat-stepper>