.container {
    max-width: 100vw;
    overflow-x: auto;
}

h2 {
    position: absolute;
    top: 20px;
    font-size: 22px;
}

::ng-deep .mat-horizontal-stepper-header-container {
    /* background-color: slateblue; */
    width: 55vw;
    margin-left: 177px;
}