<button mat-raised-button (click)="isEditable = !isEditable">
    {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button>

<form [formGroup]="detailsFormGroup">
    <mat-stepper linear #stepper>
        <!-- Step 1: Details -->
        <mat-step [stepControl]="detailsFormGroup" [editable]="isEditable">
            <ng-template matStepLabel>Details</ng-template>
            <div class="wrapper">
                <div
                    class="flex justify-between max-w-[70vw] max-h-[70vh] overflow-y-auto overflow-x-auto border-2 border-black">
                    <div class="BasicDetails p-6">Basic Details</div>
                    <div class="form p-6">
                        <mat-form-field appearance="fill" class="w-11/12">
                            <mat-label>Select Company</mat-label>
                            <mat-select formControlName="company" required>
                                <mat-option value="store1">Grow Room</mat-option>
                                <mat-option value="store2">Waste Store</mat-option>
                            </mat-select>
                            <mat-error *ngIf="detailsFormGroup.get('company')?.invalid">Company is required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-11/12">
                            <mat-label>Date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="date" required />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="detailsFormGroup.get('date')?.invalid">Date is required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-11/12">
                            <mat-label>Select Store</mat-label>
                            <mat-select formControlName="store" required>
                                <mat-option value="store1">Grow Room</mat-option>
                                <mat-option value="store2">Waste Store</mat-option>
                            </mat-select>
                            <mat-error *ngIf="detailsFormGroup.get('store')?.invalid">Store is required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-11/12">
                            <mat-label>Remarks</mat-label>
                            <textarea matInput formControlName="remarks"></textarea>
                        </mat-form-field>

                        <div class="flex justify-end">
                            <button mat-raised-button type="button">Cancel</button>
                            <button mat-raised-button mat-button matStepperNext color="primary">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>

        <!-- Step 2: Inventories -->
        <div class="container mx-auto p-6 bg-gray-50 overflow-y-auto max-h-[8.0vh] ">
            <form [formGroup]="inventoriesFormGroup" (ngSubmit)="onSubmit()" class="space-y-6">
                <mat-card class="shadow-lg rounded-lg border border-gray-200">
                    <mat-step [stepControl]="inventoriesFormGroup" [editable]="isEditable">
                        <ng-template matStepLabel>Inventories</ng-template>
                        <div class="wrapper">
                            <div
                                class="flex justify-between max-w-[70vw] max-h-[70vh] overflow-y-auto overflow-x-auto border-2 border-black">
                                <div class="BasicDetails p-6">Basic Details</div>
                                <div class="form p-6">
                                    <p>Oriental</p>
                                    <p>11/01/2013</p>
                                    <p>Osaka</p>
                                    <p>Good</p>
                                </div>
                            </div>
                        </div>
                        <div formArrayName="items" class="space-y-4">
                            <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i"
                                class="border border-gray-300 p-4 rounded-lg shadow-sm">
                                <h3 class="text-sm font-medium text-gray-600 mb-2">Item {{ i + 1 }}</h3>
                                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                                    <mat-form-field appearance="fill" class="w-full">
                                        <mat-label>Item Category</mat-label>
                                        <input matInput formControlName="itemCategory" required />
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="w-full">
                                        <mat-label>Item</mat-label>
                                        <input matInput formControlName="item" required />
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="w-full">
                                        <mat-label>Select Strain</mat-label>
                                        <input matInput formControlName="strain" required />
                                        <mat-error *ngIf="item.get('strain')?.invalid">Strain is required</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="w-full">
                                        <mat-label>Quantity</mat-label>
                                        <input matInput type="number" formControlName="quantity" required />
                                        <mat-error *ngIf="item.get('quantity')?.invalid">Quantity is
                                            required</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="w-full">
                                        <mat-label>Unit of Measure</mat-label>
                                        <input matInput formControlName="uom" required />
                                        <mat-error *ngIf="item.get('uom')?.invalid">Unit of Measure is
                                            required</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="w-full">
                                        <mat-label>Total Cost</mat-label>
                                        <input matInput type="number" formControlName="totalCost" required />
                                        <mat-error *ngIf="item.get('totalCost')?.invalid">Total Cost is
                                            required</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="w-full">
                                        <mat-label>Cost Per Unit</mat-label>
                                        <input matInput type="number" formControlName="costPerUnit" required />
                                        <mat-error *ngIf="item.get('costPerUnit')?.invalid">Cost Per Unit is
                                            required</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="w-full">
                                        <mat-label>Supplier</mat-label>
                                        <input matInput formControlName="supplier" required />
                                        <mat-error *ngIf="item.get('supplier')?.invalid">Supplier is
                                            required</mat-error>
                                    </mat-form-field>
                                </div>
                                <button mat-button color="warn" (click)="removeItem(i)">Remove Item</button>
                            </div>
                        </div>
                        <mat-card-content class="space-y-4">
                            <button mat-button color="primary" (click)="addItem()">Add Item</button>
                        </mat-card-content>
                        <mat-card-actions class="flex justify-end space-x-4">
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-raised-button color="accent" type="button">Save as Draft</button>
                            <button mat-raised-button color="primary" type="submit"
                                [disabled]="grnForm.invalid">Submit</button>
                        </mat-card-actions>
                    </mat-step>
                </mat-card>
            </form>
        </div>
    </mat-stepper>
</form>